{% extends "base.html" %}
{% block content %}
			<h2>Контакты</h2>
			<p>Связаться с разработчиком:</p>
			<form methof="POST">
				<label for="name">Ваше имя: </label>
				<input type="text" name="name" id="name" value="***">
				<label for="email">E-mail</label>
				<input type="text" name="email" id="email" value="***"> <br><br>
				<br>
				<p>Введите Ваше сообщение:</p>
				<textarea rows="12" cols="100">
				</textarea><br>
				<br>
				<input type="submit" value="Отправить">
			</form>

{%endblock%}